# HumanEditBench Docker Configuration

# Defaults should work fine for these, but can change if you'd like.

# IMAGE_NAME: Docker image name
IMAGE_NAME="editbench:latest"

# PYTHON_VERSION: Python version for environment
PYTHON_VERSION="3.12"


# Put API Keys and other secrets here
OPENROUTER_KEY="aaaaaaaa"
OPENAI_API_KEY="mmmmmmmm"

# A comment to make sure the last Key isn't deleted